/config/config.php
/storage/installed.lock
/storage/logs/*.log
/storage/cache/*
!/storage/cache/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/public/uploads/*
!/public/uploads/2000/
!/public/uploads/.htaccess
!/public/uploads/.gitkeep
/dist/
